.dev{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('cat9.jpeg');
    font-weight: 900;
    font-size: 6em;
    display: flex;
    align-items: center;
    background-size: cover;
    background-clip: text;
    --webkit-background-clip:text;
    color: transparent;
}
.flames{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('flames.gif');
    font-weight: 900;
    font-size: 6em;
    display: flex;
    text-align: center;
    background-size: cover;
    background-clip: text;
    --webkit-background-clip:text;
    color: transparent;
    transform: matrix3d(1px);
}
